.side_barl{
    background-color: rgb(36, 37, 37);
    position: fixed;
    left: 10px;
    top: 120px;
    bottom: 20px;
    width: 100px;
    box-shadow: 0px 0px 3px 3px rgb(20, 20, 20);
    border-radius: 20px;
}
.side_barr{
    background-color: rgb(36, 37, 37);
    box-shadow: 10px 5px 5px rgb(20, 20, 20);
    box-shadow: 1px;
    margin-top: 5px;
    width: 220px;
    padding-top: 20px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}